{% extends 'base.html' %}
{% block css %}
<style type="text/css">
	#demo{
		text-align: center;
	}
</style>
{% endblock %}
{% block title %}
    
{% endblock %}
{% block checkpower %}
<a type="button" onClick="javascript :history.back(-1)"class="btn btn-default" >返回</a>
<input type="button" value="保存" class="btn btn-default" onclick="document.getElementById('myfrom').submit();">

{% endblock %}
{% block content %}
 <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header" style="background-color: #ffffe3;">
              <h3 class="box-title">管理用户</h3>
              <!-- <a href="{% url 'user:add_user' %}">添加新用户</a> -->
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                

               
                </div>
              </div>
            </div>

  
    <form action="/user/edit_role/{{role.id}}/"  class="form-inline" id = "myfrom"method="POST">
        {% csrf_token %}
         <div  style="text-align: center;">
             <input type="text" name="name"class = "form-control" placeholder="角色" value="{{ role.name }}"/>
         </div>
     <div style="text-align: center;">
     {% for sb in pression %}
       	{% if sb == 1  %}
                      是否启用
                          <label class="radio-inline">
                          	
                            <input type="radio"  name="is_select" checked="checked" value="1"/>是
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="is_select"  value="0"/>否
                          </label>
                          {% else %}
                         <label class="radio-inline">
                            <input type="radio"  name="is_select" value="1"/>是
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="is_select" checked="checked" value="0"/>否
                         </label>
                          {% endif %}
{% endfor %}
</div>

   <hr/>
                  <div class="box-header" style="background-color: #ffffe3;">
                    <h3 class="box-title">修改权限</h3>
                  </div>
                  
         <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header" style="background-color: #ffffe3;">
              <h3 class="box-title">用户</h3>
              <!-- <a href="{% url 'user:add_user' %}">添加新用户</a> -->
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="搜索">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th><input type="checkbox" id = "fetchall" /></th>
                 
                  <th>菜单</th>
                 
                  <th>操作</th>
                  
                  
                </tr>
                
                       {% for data in operation_list %}
      
		<tr>
               <td><input type="checkbox" name="operation_id" value="{{data.id}}" /></td>
                <td>{{data.menu}}</td>
                <td>{{data.title}}</td>
            
		</tr>
  
          {% endfor %}
                
                </table>
      		 </div>
   

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
                  
                  
                  
                  
                  

    </form>
         


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$("#fetchall").click(function(){
		console.log("1111")
		
		if(this.checked){
			console.log("aa")
			$("[name=operation_id]:checkbox").remove('checked',false)
			$("[name=operation_id]:checkbox").prop('checked',true)
		}else{
			$("[name=operation_id]:checkbox").remove('checked',true)
			$("[name=operation_id]:checkbox").prop('checked',false)
		}
	})

//function selectAllCheck(obj, selname) {
//  var el = document.getElementsByName(selname);//获取所有复选框
//  var len = el.length;//获取复选框数量
//  if (obj.checked === true) {//判断全选框是否选中
//      $(obj).attr('title', '反选');
//      for (var i = 0; i < len; i++) {
//          if (!el[i].disabled) {//如果复选框未选中，设置选中状态
//              el[i].checked = true;
//          }
//      }
//  } else {//全选框未选中 将所有选中的复选框改为未选中
//      $(obj).attr('title', '全选');
//      for (var j = 0; j < len; j++) {//循环所有复选框
//          if (!el[j].disabled) {//复选框已选中
//              el[j].checked = false;
//          }
//      }
//  }
//}

	
</script>

{% endblock %}
